<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html>
	<head>
		<title>add Classmate</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			href="/static/css/style.css" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2009/11/20
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">Main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						add Emp info:
					</h1>
					<form action="{% url 'classapp:add' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">



							<tr>

								<td valign="middle" align="right">
									name:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" id="in2" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									telephone:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="telephone" id="in3" />
								</td>
							</tr>

                            <tr>
								<td valign="middle" align="right">
									gender:
								</td>
								<td valign="middle" align="left">
									<input type="radio" class="inputgri" name="gender" value="男" checked="checked" />男&nbsp;
                                    <input type="radio" class="inputgri" name="gender" value="女"/>女
								</td>

							</tr>

						</table>
						<p>
							<input type="submit" class="button" value="Confirm" id="btn" />
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
        <script type="text/javascript">






        </script>



	</body>
</html>
